<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextIdVisualiser.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextIdVisualiser.Settings>
            <setting name="Filename" serializeAs="String">
                <value>XPAND</value>
            </setting>
            <setting name="Directory_Path" serializeAs="String">
                <value>D:\Incit Xpand\Development\Development\Source\Resource\</value>
            </setting>
            <setting name="Launguage_Id" serializeAs="String">
                <value>1053</value>
            </setting>
        </TextIdVisualiser.Settings>
    </userSettings>
</configuration>